## Lending club Case Study

LendingClub is USA’s largest lending marketplace, connecting borrowers with investors since 2007.

Both borrower and investor are registered as a member of Lending club. Borrower applied for loan, then lending club platform perform some risk analysis on the applied loan and pass it to investors with approved ammount ( lenders/Investors ). 

Lenders ( Investors ) makes money from the interest they get from money they lend and Lending club makes money from source fees and other fees.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings("ignore")
import seaborn as sns

In [5]:
# Loading loan data
loan = pd.read_csv("loan/loan.csv")
loan.head()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,1077501,1296599,5000,5000,4975.0,36 months,10.65%,162.87,B,B2,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27%,59.83,C,C4,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96%,84.33,C,C5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49%,339.31,C,C1,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69%,67.79,B,B5,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN

In [4]:
#Detrmining the number of column and rows

loan.shape

(39717, 111)

##### Observations :  
1. There are 39717 rows and 111 features. So data set is a high dimentional data set. 
2. We also find there are lots of features that is having only NA value which will not contribute to our analysys.
3. There are few features having same constant values which will not contribute to our analysis.
4. There are identity columns having unique values which will add any value to the data set for analysis.

####  Checking and dropping the columns ( features ) having null values

In [7]:
#checking first half of the columns for null value
loan.isnull().sum().head(int(loan.shape[1]/2))

id                                 0
member_id                          0
loan_amnt                          0
funded_amnt                        0
funded_amnt_inv                    0
term                               0
int_rate                           0
installment                        0
grade                              0
sub_grade                          0
emp_title                       2459
emp_length                      1075
home_ownership                     0
annual_inc                         0
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
url                                0
desc                           12940
purpose                            0
title                             11
zip_code                           0
addr_state                         0
dti                                0
delinq_2yrs                        0
earliest_cr_line                   0
inq_last_6mths                     0
mths_since_last_delinq         25682
mths_since_last_record         36931
open_acc                           0
pub_rec                            0
revol_bal                          0
revol_util                        50
total_acc                          0
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_pymnt_d                      71
last_pymnt_amnt                    0
next_pymnt_d                   38577
last_credit_pull_d                 2
collections_12_mths_ex_med        56
mths_since_last_major_derog    39717
policy_code                        0
application_type                   0
annual_inc_joint               39717
dti_joint                      39717
dtype: int64

In [8]:
#checking second half of the columns for null values
loan.isnull().sum().tail(int(loan.shape[1]/2))

acc_now_delinq                        0
tot_coll_amt                      39717
tot_cur_bal                       39717
open_acc_6m                       39717
open_il_6m                        39717
open_il_12m                       39717
open_il_24m                       39717
mths_since_rcnt_il                39717
total_bal_il                      39717
il_util                           39717
open_rv_12m                       39717
open_rv_24m                       39717
max_bal_bc                        39717
all_util                          39717
total_rev_hi_lim                  39717
inq_fi                            39717
total_cu_tl                       39717
inq_last_12m                      39717
acc_open_past_24mths              39717
avg_cur_bal                       39717
bc_open_to_buy                    39717
bc_util                           39717
chargeoff_within_12_mths             56
delinq_amnt                           0
mo_sin_old_il_acct                39717
mo_sin_old_rev_tl_op              39717
mo_sin_rcnt_rev_tl_op             39717
mo_sin_rcnt_tl                    39717
mort_acc                          39717
mths_since_recent_bc              39717
mths_since_recent_bc_dlq          39717
mths_since_recent_inq             39717
mths_since_recent_revol_delinq    39717
num_accts_ever_120_pd             39717
num_actv_bc_tl                    39717
num_actv_rev_tl                   39717
num_bc_sats                       39717
num_bc_tl                         39717
num_il_tl                         39717
num_op_rev_tl                     39717
num_rev_accts                     39717
num_rev_tl_bal_gt_0               39717
num_sats                          39717
num_tl_120dpd_2m                  39717
num_tl_30dpd                      39717
num_tl_90g_dpd_24m                39717
num_tl_op_past_12m                39717
pct_tl_nvr_dlq                    39717
percent_bc_gt_75                  39717
pub_rec_bankruptcies                697
tax_liens                            39
tot_hi_cred_lim                   39717
total_bal_ex_mort                 39717
total_bc_limit                    39717
total_il_high_credit_limit        39717
dtype: int64

In [9]:
#Dropping columns having all null values
loan.dropna(axis=1, how='all', inplace=True)

In [10]:
# There was ( 111-57) = 54 columns having all null value. Now the number of column become 57.
loan.shape

(39717, 57)

In [12]:
#Getting the information about load data set
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 57 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   id                          39717 non-null  int64
 1   member_id                   39717 non-null  int64
 2   loan_amnt                   39717 non-null  int64
 3   funded_amnt                 39717 non-null  int64
 4   funded_amnt_inv             39717 non-null  float64
 5   term                        39717 non-null  object
 6   int_rate                    39717 non-null  object
 7   installment                 39717 non-null  float64
 8   grade                       39717 non-null  object
 9   sub_grade                   39717 non-null  object
 10  emp_title                   37258 non-null  object
 11  emp_length                  38642 non-null  object
 12  home_ownership              39717 non-null  object
 13  annual_inc                  39717 non-null  float64
 14  verification_status         39717 non-null  object
 15  issue_d                     39717 non-null  object
 16  loan_status                 39717 non-null  object
 17  pymnt_plan                  39717 non-null  object
 18  url                         39717 non-null  object
 19  desc                        26777 non-null  object
 20  purpose                     39717 non-null  object
 21  title                       39706 non-null  object
 22  zip_code                    39717 non-null  object
 23  addr_state                  39717 non-null  object
 24  dti                         39717 non-null  float64
 25  delinq_2yrs                 39717 non-null  int64
 26  earliest_cr_line            39717 non-null  object
 27  inq_last_6mths              39717 non-null  int64
 28  mths_since_last_delinq      14035 non-null  float64
 29  mths_since_last_record      2786 non-null   float64
 30  open_acc                    39717 non-null  int64
 31  pub_rec                     39717 non-null  int64
 32  revol_bal                   39717 non-null  int64
 33  revol_util                  39667 non-null  object
 34  total_acc                   39717 non-null  int64
 35  initial_list_status         39717 non-null  object
 36  out_prncp                   39717 non-null  float64
 37  out_prncp_inv               39717 non-null  float64
 38  total_pymnt                 39717 non-null  float64
 39  total_pymnt_inv             39717 non-null  float64
 40  total_rec_prncp             39717 non-null  float64
 41  total_rec_int               39717 non-null  float64
 42  total_rec_late_fee          39717 non-null  float64
 43  recoveries                  39717 non-null  float64
 44  collection_recovery_fee     39717 non-null  float64
 45  last_pymnt_d                39646 non-null  object
 46  last_pymnt_amnt             39717 non-null  float64
 47  next_pymnt_d                1140 non-null   object
 48  last_credit_pull_d          39715 non-null  object
 49  collections_12_mths_ex_med  39661 non-null  float64
 50  policy_code                 39717 non-null  int64
 51  application_type            39717 non-null  object
 52  acc_now_delinq              39717 non-null  int64
 53  chargeoff_within_12_mths    39661 non-null  float64
 54  delinq_amnt                 39717 non-null  int64
 55  pub_rec_bankruptcies        39020 non-null  float64
 56  tax_liens                   39678 non-null  float64
dtypes: float64(20), int64(13), object(24)
memory usage: 17.3+ MB

#### Dropping the features having same constant value through out.
Features with constant values through out
1. delinq_amnt
2. acc_now_delinq
3. pymnt_plan

In [13]:
loan.drop(columns =["delinq_amnt","acc_now_delinq","pymnt_plan"], axis=1, inplace=True)

#### Dropping the identity columns having unique values
1. id
2. member_id

In [14]:
loan.drop(columns =["id","member_id"], axis=1, inplace=True)

#### Identifying customer behaviour variable and removal
Customer behavior variables are not available at the time of loan application, and thus they cannot be used as predictors for credit approval. So following customer behavior variable can be deleted
1. delinq_2yrs
2. earliest_cr_line
3. inq_last_6mths
4. open_acc
5. pub_rec
6. revol_bal
7. revol_util
8. total_acc
9. out_prncp
10. out_prncp_inv
11. total_pymnt
12. total_pymnt_inv
13. total_rec_prncp
14. total_rec_int
15. total_rec_late_fee
16. recoveries
17. collection_recovery_fee
18. last_pymnt_d
19. last_pymnt_amnt
20. last_credit_pull_d
21. application_type

In [39]:
loan.drop(columns =["delinq_2yrs","earliest_cr_line","inq_last_6mths","open_acc","pub_rec","revol_bal","revol_util","total_acc","out_prncp","out_prncp_inv","total_pymnt","total_pymnt_inv","total_rec_prncp","total_rec_int","total_rec_late_fee","recoveries","collection_recovery_fee","last_pymnt_d","last_pymnt_amnt","last_credit_pull_d","application_type"], axis=1, inplace=True)

In [40]:
#Checking the number of available features now
loan.shape

(39717, 31)

In [41]:
loan.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39717 entries, 0 to 39716
Data columns (total 31 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   39717 non-null  int64
 1   funded_amnt                 39717 non-null  int64
 2   funded_amnt_inv             39717 non-null  float64
 3   term                        39717 non-null  object
 4   int_rate                    39717 non-null  object
 5   installment                 39717 non-null  float64
 6   grade                       39717 non-null  object
 7   sub_grade                   39717 non-null  object
 8   emp_title                   37258 non-null  object
 9   emp_length                  38642 non-null  object
 10  home_ownership              39717 non-null  object
 11  annual_inc                  39717 non-null  float64
 12  verification_status         39717 non-null  object
 13  issue_d                     39717 non-null  object
 14  loan_status                 39717 non-null  object
 15  url                         39717 non-null  object
 16  desc                        26777 non-null  object
 17  purpose                     39717 non-null  object
 18  title                       39706 non-null  object
 19  zip_code                    39717 non-null  object
 20  addr_state                  39717 non-null  object
 21  dti                         39717 non-null  float64
 22  mths_since_last_delinq      14035 non-null  float64
 23  mths_since_last_record      2786 non-null   float64
 24  initial_list_status         39717 non-null  object
 25  next_pymnt_d                1140 non-null   object
 26  collections_12_mths_ex_med  39661 non-null  float64
 27  policy_code                 39717 non-null  int64
 28  chargeoff_within_12_mths    39661 non-null  float64
 29  pub_rec_bankruptcies        39020 non-null  float64
 30  tax_liens                   39678 non-null  float64
dtypes: float64(10), int64(3), object(18)
memory usage: 9.4+ MB

### Data Analysis

Since loan status "current" is ambiguious as loan defaulter point of view ( this loan might be dafaulter in future ) 
and analysis is being done to understand the driving factors (or driver variables) behind loan default, we can consider only "Fully Paid" and "Charged Off" loans.

In [48]:
loan = loan[~(loan.loan_status == "Current")]

In [49]:
loan.shape

(38577, 31)